;; shadow-cljs configuration
{:deps     {:aliases [:dev]}
 :dev-http {8000 "classpath:public"}
 :builds   {:main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"
                   :modules    {:main {:init-fn app.client/run
                                       :entries [app.client]}}
                   :devtools   {:after-load app.client/run
                                :preloads   [devtools.preload]}
                   ;; default release compiler option doesn't work, has to use simple for now, not sure why..
                   ;; Cannot read property 'toLowerCase' of undefined
                   :release    {:compiler-options {:optimizations :simple}}}}}
